body {
    background-image:url("https://wallpapercave.com/wp/wp4056398.png");
      background-size: auto 100vh;
      font-family: Arial;
    }
    .menu{
      background-color: white;
    }
    a{
      color: black;
      text-decoration: none; 
    }
    a:hover {
      text-decoration: underline;  
    }
    .menu li{
      list-style: none;
    }
    .menu ul{
      display: flex;
       justify-content: space-around;
    }
    .site-title{
      text-align: center;
       color: whitesmoke;
    }
    .site-subtitle{
      color: whitesmoke;
       text-align: center;
       font-style: italic;
     text-decoration: underline;
    }    